.ItemEditor {
    height: 100%;
    background: #ffffff;
    padding: 5px;
    border-radius: var(--small-radius);
}

.ItemEditor-wrapper {
    height: 100%;
    padding-left: 15px;
}

.ItemEditor-textarea {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: var(--small-radius);
    line-height: 1.5;
}

.ItemEditor-textarea:focus {
    outline: none;
}