.ItemNode {
    display: flex;
}

.ItemNode-key {
    display: inline-block;
    margin-right: 3px;
}
.ItemNode-key + span {
    margin-right: 6px;
}

.ItemNode-value {
    cursor: pointer;
    display: inline-block;
    border-radius: var(--small-radius);
    margin-left: 4px;
    word-break: break-word;
}

.ItemNode-string .ItemNode-value {
    color: #00c110;
}
.ItemNode-string .ItemNode-value:hover,
.ItemNode-string[data-selected="true"] .ItemNode-value {
    background-color: #cfffdd;
}

.ItemNode-number .ItemNode-value {
    color: #d86f00;
}
.ItemNode-number .ItemNode-value:hover {
    background-color: #ffdecf;
}

.ItemNode-separator {
    color: #333333;
}