.ItemEditor {
    height: 100%;
    background: #ffffff;
    padding: 5px;
    border-radius: var(--small-radius);
}

.ItemEditor-wrapper {
    height: 100%;
    padding-left: 15px;
}

.ItemEditor-textarea {
    display: inline-block;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: var(--small-radius);
    line-height: 1.5;
}

.ItemEditor-textarea:focus {
    outline: none;
}

.ItemEditor-header {
    margin-bottom: 7px;
}

.ItemEditor-style {
    border: none;
    margin-right: 4px;
    padding: 3px 5px;
    border-radius: var(--small-radius);
    cursor: pointer;
}